---

---

<head>
    {% include header.html %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <!-- meta tags -->
    <meta name="description" content="This is the personal website for Hemal Maniar.">
    <meta name="keywords" content="I am Hemal Maniar, Hemal Maniar, personal website, blog website">
</head>

<body>

    <!-- Landing Page -->
    <div id="landing-page">
        <div class="centered">
            <h3 class="title title-left">Hi,&nbsp;I'm</h3>
            <h1 class="title title-right">Hemal&nbsp;<br> Maniar</h1>

            <div class="links">
                <ul>
                    <li>
                        <div class="grow"><a href="http://github.com/hemal-maniar" target="_blank"><i
                                    class="fa fa-github"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="grow"><a href="https://twitter.com/he_malware" target="_blank"><i
                                    class="fa fa-twitter"></i></a></div>
                    </li>
                    <!--
                    <li>
                        <div class="grow"><a href="https://www.instagram.com/" target="_blank"><i
                                    class="fa fa-instagram"></i></a></div>
                    </li>
                    <li>
                        <div class="grow"><a href="https://www.pinterest.com/" target="_blank"><i
                                    class="fa fa-pinterest-p"></i></a></div>
                    </li>
                    -->
                    <li>
                        <div class="grow"><a href="https://www.linkedin.com/in/hemal-maniar" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></div>
                    </li>
                    <li>
                        <div class="grow"><a href="./assets/HemalManiar_Resume.pdf" target="_blank"><i
                                    class="fa fa-file-pdf-o"></i></a></div>
                    </li>
                    <li>
                        <div class="grow"><a href="mailto:maniar.he@gmail.com" target="_blank"><i
                                    class="fa fa-envelope"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fa-parent bounce">
            <a href="#intro"><i class="fa fa-arrow-down"></i></a>
        </div>
    </div>

    <!-- Intro Section -->
    <section id="intro">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="/index.html">
                    <img src="./assets/img/favicon.jpg" width="30" height="30" class="d-inline-block align-top"
                        alt="Hemal Maniar Logo">
                    Hemal Maniar
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link left left2" href="/index.html">Home</a>
                        </li>
                        <li>
                            <a class="nav-link left left2" href="#intro">Intro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link left left2" href="#main">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link left left2" href="#blog">Blog</a>
                        </li>
                        <li>
                            <a class="nav-link left left2" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link left left2" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-blank left left2" href="/blog/" target="_blank">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Freelance section starts -->
        <div class="container">
            <div class="parent-freelance">
                <div class="div1-freelance" data-aos="fade-up">
                    <h2 class="freelance-text">I'm<br> <span id='text'></span></h2>
                </div>
                <div class="div2-freelance" data-aos="fade-up" data-aos-delay="200">
                    <h3>Work</h3>
                    <p>View my latest projects here.</p>
                    <a href="#projects"><input class="btn btn-primary" type="button" value="View Work"></a>
                </div>
                <div class="div3-freelance" data-aos="fade-up" data-aos-delay="400">
                    <h3>Contact</h3>
                    <p>Send me a message here.</p>
                    <a href="mailto:maniar.he@gmail.com"><input class="btn btn-primary" type="button"
                            value="Send Message"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Section -->
    <section id="main">
        <div class="container">
            <h1 data-aos="fade-up">Life Timeline</h1>
            <!-- Timeline Details -->
            <div class="parent" data-aos="fade-up">
                <div class="div1">
                    <img class="main-img" src="./assets/img/oscp.png" alt="Offensive Security Certified Professional">
                </div>
                <div class="div2">
                    <a href="https://www.credential.net/b8bc459f-4860-4c16-a00f-7a1eabbbd438" target="_blank">
                        <h2 class="main-h2">Offensive Security Certified Professional (OSCP) 🏅</h2>
                    </a>
                    <h3 class="main-h3"></h3>
                    <h4 class="main-h4"></h4>
                    <p class="main-p">
                        I’ve recently earned my OSCP certification! It’s been quite a challenging journey, learned a lot about Exploitation, Pivoting, Active Directory Attacks, and a lot more! It was an amazing learning experience and felt extremely rewarding. You can view my credentials <a href="https://www.credential.net/b8bc459f-4860-4c16-a00f-7a1eabbbd438" target="_blank">here</a>.
                    </p>
                </div>
            </div>
            <div class="parent" data-aos="fade-up">
                <div class="div1">
                    <img class="main-img" src="./assets/img/citizens_bank.png" alt="Citizens Bank">
                </div>
                <div class="div2">
                    <a href="https://www.citizensbank.com/" target="_blank">
                        <h2 class="main-h2">Citizens Bank 🏦</h2>
                    </a>
                    <h3 class="main-h3">Senior Cyber Threat Defense Operations Specialist, 2023 - 2023 </h3>
                    <h4 class="main-h4">Providence, RI</h4>
                    <p class="main-p">
                        Worked as a Senior Threat Defense Specialist at Citizens Bank in 2023. Day-to-day responsibilities involved analysing, mitigating, and documenting large amount of security alerts. I was responsible for providing technical guidance to L1 security analysts on the floor. Used a wide variety of tools including <b>Crowdstrike, Splunk Enterprise Security, Qualys </b>to name a few.
                    </p>
                </div>
            </div>
            <div class="parent" data-aos="fade-up">
                <div class="div1">
                    <img class="main-img" src="./assets/img/neu_edu.jpg" alt="Northeastern University">
                </div>
                <div class="div2">
                    <a href="https://www.northeastern.edu/" target="_blank">
                        <h2 class="main-h2">Northeastern University 🎓</h2>
                    </a>
                    <h3 class="main-h3">Masters of Science in Cybersecurity, 2021 - 2022 </h3>
                    <h4 class="main-h4">Boston, MA</h4>
                    <p class="main-p">
                        Northeastern University has provided me with an incredible opportunity to pursue my passion for cybersecurity. The combination of its academic rigor and cultural values resonates deeply with me, allowing me to build a solid foundation in security principles. Through my studies in network security, software security, and risk management, I've gained a well-rounded understanding that positions me to make meaningful and impactful contributions to any organization.
                    </p>
                </div>
            </div>
        </div>

    </section>

    <!-- Blog -->
    <section id="blog">
        <div class="container">
            <h2 data-aos="fade-up">From The Blog</h2>
            <ul>
                {% for post in site.posts limit:7 %}
                <li data-aos="fade-up">
                    <a class="left left2" href="{{ post.url }}" target="_blank">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="parent-about">
            <div class="div1-about" data-aos="fade-up" markdown="1">
                <div class="div1-freelance" data-aos="fade-up">
                    <h2 class="freelance-text"><span id='whoami'></span></h2>
                </div>
                <p>
                I’m Hemal — a security engineer focused on penetration testing and application security. As an OSCP-certified professional with additional certifications in Security+ and eJPT, I delve deep into penetration testing and offensive security. This site serves as a glimpse into my journey, where I’ll regularly share write-ups for Hack The Box, TryHackMe, and various VulnHub boxes, with the hope that you find them helpful in your own cybersecurity pursuits.

                When I’m not immersed in cybersecurity, you can find me geeking out on a Counter-Strike server with friends or exploring other games. Beyond tech, I enjoy listening to music, cooking, sketching, and traveling. I’m also on a mission to stay more active—it's a work in progress!
                </p>
            </div>
            <div class="div2-about" data-aos="fade-up" data-aos-delay="200">
                <h2>A Brief History</h2>
                <table>
                    <tr>
                        <td>2018 - Current</td>
                        <th>Pursuing a Computer Science Degree, CCSU</th>
                    </tr>
                    <tr>
                        <td>2019 Summer</td>
                        <th>Software Developer Intern, Law Forum, LLC</th>
                    </tr>
                    <tr>
                        <td>2018 Summer</td>
                        <th>I.T. Intern, Middletown, CT City Hall</th>
                    </tr>
                    <tr class="tr-last">
                        <td>2017 - 2018</td>
                        <th>Took first Computer Science class</th>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects">
        <h1 data-aos="fade-up">Some of my Recent Work</h1>
        <p data-aos="fade-up" class="projects-p-subtitle">To see all of my work, visit my <a target="_blank"
                href="https://github.com/bjcarlson42/" class="left left2">GitHub</a>!</p>
        <div class="parent-projects">
            <div class="div1-projects" data-aos="fade-up">
                <div class="center-container">
                    <div class="center-projects">
                        <h2 class="project-h2">Personal Website</h2>
                        <a href="#myModal" role="button" class="btn btn-primary buttons-projects"
                            data-toggle="modal">View
                            Project</a>
                    </div>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Personal Website</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body p-4" id="result">
                                <p>This project is the website you are currently on. It is a website I built using pure
                                    HTML5, CSS3, and JS to show my experience, projects, gain freelance clients, and
                                    much more. I update it constantly and it is always evolving.
                                </p>
                                <div class="row">
                                    <div class="col">
                                        <h5>Skills this project required:</h5>
                                        <div class="container">
                                            <ul>
                                                <li>Responsive Design</li>
                                                <li>HTML5</li>
                                                <li>CSS3</li>
                                                <li>JavaScript</li>
                                                <li>Siteground Hosting</li>
                                                <li>Bootstrap</li>
                                                <li>CSS Keyframes</li>
                                                <li>CSS Media Queries</li>
                                                <li>CSS Grid Layout</li>
                                                <li>SEO</li>
                                                <li>Visual Studio Code</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/bjcarlson42/personal-website" target="_blank"><input
                                        class="btn btn-primary" type="button" value="View Code"></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div2-projects" data-aos="fade-up">
                <div class="center-container">
                    <div class="center-projects">
                        <h2 class="project-h2">Grid Project</h2>
                        <a href="#myModal1" role="button" class="btn btn-primary buttons-projects"
                            data-toggle="modal">View
                            Project</a>
                    </div>
                </div>
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Grid Project</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body p-4" id="result">
                                <p>This project was originally programmed in C# as a console application. Overtime it
                                    evolved into a full fledged asp .NET mvc web application. It takes in user input and
                                    then generates a grid of numbers that adheres to that input.
                                </p>
                                <div class="row">
                                    <div class="col">
                                        <h5>Skills this project required:</h5>
                                        <div class="container">
                                            <ul>
                                                <li>HTML5</li>
                                                <li>CSS3</li>
                                                <li>C#</li>
                                                <li>HTML5 tables</li>
                                                <li>Visual Studio</li>
                                                <li>Asp .NET Mvc</li>
                                                <li>C# LINQ Queries</li>
                                                <li>Lambda Expressions</li>
                                                <li>Object Oriented Design</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://gridproject.azurewebsites.net/" target="_blank"><input
                                        class="btn btn-primary" type="button" value="View Live"></a>
                                <a href="https://github.com/bjcarlson42/grid-project" target="_blank"><input
                                        class="btn btn-primary" type="button" value="View Code"></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div3-projects" data-aos="fade-up">
                <div class="center-container">
                    <div class="center-projects center-word-counter">
                        <h2 class="project-h2">Word Counter</h2>
                        <a href="#myModal2" role="button" class="btn btn-primary buttons-projects"
                            data-toggle="modal">View
                            Project</a>
                    </div>
                </div>
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Word Counter</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body p-4" id="result">
                                <p>This project was originally programmed in C# as a console application. Overtime it
                                    evolved into a full fledged asp .NET mvc web application. It takes in user input and
                                    then generates a grid of numbers that follows the rules.
                                </p>
                                <div class="row">
                                    <div class="col">
                                        <h5>Skills this project required:</h5>
                                        <div class="container">
                                            <ul>
                                                <li>HTML5</li>
                                                <li>CSS3</li>
                                                <li>C#</li>
                                                <li>LINQ queries</li>
                                                <li>Doubly Linked Lists</li>
                                                <li>Sorting algorithms</li>
                                                <li>Writing/Reading Input Files</li>
                                                <li>HTML5 tables</li>
                                                <li>Visual Studio</li>
                                                <li>Asp .NET Mvc</li>
                                                <li>Object Oriented Design</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/bjcarlson42/word-counter" target="_blank"><input
                                        class="btn btn-primary" type="button" value="View Code"></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div4-projects" data-aos="fade-up">
                <div class="center-container">
                    <div class="center-projects">
                        <h2 class="project-h2">Photography Website</h2>
                        <a href="#myModal3" role="button" class="btn btn-primary buttons-projects"
                            data-toggle="modal">View
                            Project</a>
                    </div>
                </div>
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Photography Website</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body p-4" id="result">
                                <p>This project is a Wordpress photography portfolio website for a photographer. I used
                                    the
                                    Salient Wordpress Theme and various plugins to build the site.
                                </p>
                                <div class="row">
                                    <div class="col">
                                        <h5>Skills this project required:</h5>
                                        <div class="container">
                                            <ul>
                                                <li>Worpress</li>
                                                <li>Siteground</li>
                                                <li>Communication</li>
                                                <li>HTML5</li>
                                                <li>CSS3</li>
                                                <li>JavaScript</li>
                                                <li>Wordpress Plugins and Themes</li>
                                                <li>FTP With FileZilla</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://benjamincarlson.net/freelance/clients/photography-SugPHzM8HWv2VL7U/"
                                    target="_blank"><input class="btn btn-primary" type="button" value="View Live"></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Footer -->
    <footer>
        <p id="date"></p>
    </footer>

    {% include footer-files.html %}
</body>

</html>