---

---

<head>
    {% include header.html %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <!-- meta tags -->
    <meta name="description" content="This is the personal website for Hemal Maniar. This site serves as a glimpse into my cybersecurity journey.">
    <meta name="keywords" content="Hemal Maniar, personal website, blog website, hemal-maniar github">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-12F87QPXQJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-12F87QPXQJ');
</script>


<body>

    <!-- Landing Page -->
    <div id="landing-page">
        <div class="centered">
            <h3 class="title title-left">Hi,&nbsp;I'm</h3>
            <h1 class="title title-right">Hemal&nbsp;<br> Maniar</h1>

            <div class="links">
                <ul>
                    <li>
                        <div class="grow"><a href="http://github.com/hemal-maniar" target="_blank"><i
                                    class="fa fa-github"></i></a>
                        </div>
                    </li>
                    <!--
                    <li>
                        <div class="grow"><a href="https://twitter.com/he_malware" target="_blank"><i
                                    class="fa fa-twitter"></i></a></div>
                    </li>
                    <li>
                        <div class="grow"><a href="https://www.instagram.com/" target="_blank"><i
                                    class="fa fa-instagram"></i></a></div>
                    </li>
                    -->
                    <li>
                        <div class="grow"><a href="https://www.linkedin.com/in/hemal-maniar" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></div>
                    </li>
                    <li>
                        <div class="grow"><a href="./assets/HemalManiar_Resume.pdf" target="_blank"><i
                                    class="fa fa-file-pdf-o"></i></a></div>
                    </li>
                    <li>
                        <div class="grow"><a href="mailto:maniar.he@gmail.com" target="_blank"><i
                                    class="fa fa-envelope"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fa-parent bounce">
            <a href="#intro"><i class="fa fa-arrow-down"></i></a>
        </div>
    </div>

    <!-- Intro Section -->
    <section id="intro" class="section-class">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="/index.html">
                    <img src="./assets/img/site.png" width="30" height="30" class="d-inline-block align-top"
                        alt="Hemal Maniar Logo">
                    Hemal Maniar
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link left left2" href="/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link left left2" href="#main">Experience</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link left left2" href="#blog">Blog</a>
                        </li>-->
                        <li>
                            <a class="nav-link left left2" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link left left2" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-blank left left2" href="/blog/">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Freelance section starts -->
        <div class="container">
            <div class="parent-freelance">
                <div class="div1-freelance" data-aos="fade-up">
                    <h2 class="freelance-text">I'm<br> <span id='text'></span></h2>
                </div>
                <div class="div2-freelance" data-aos="fade-up" data-aos-delay="200">
                    <h3>Work</h3>
                    <p>View my latest projects here.</p>
                    <a href="#projects"><input class="btn btn-primary" type="button" value="View Work"></a>
                </div>
                <div class="div3-freelance" data-aos="fade-up" data-aos-delay="400">
                    <h3>Contact</h3>
                    <p>Send me a message here.</p>
                    <a href="mailto:maniar.he@gmail.com"><input class="btn btn-primary" type="button"
                            value="Send Message"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Section -->
    <section id="main" class="section-class">
        <div class="container">
            <h1 data-aos="fade-up">Life Timeline</h1>
            <!-- Timeline Details -->
            <!--
            <div class="parent" data-aos="fade-up">
                <div class="div1">
                    <img class="main-img" src="./assets/img/scoutflo.PNG" alt="Scoutflo">
                </div>
                <div class="div2">
                    <a href="https://www.scoutflo.com/" target="_blank">
                        <h2 class="main-h2">Scoutflo</h2>
                    </a>
                    <h3 class="main-h3">Security Consultant, 2023 - Present </h3>
                    <h4 class="main-h4"></h4>
                    <p class="main-p">
                        Currently working on a contracted position as a Security Consultant at Scoutflo. My responsibilities involved assessing client's cloud & network infrastructure, containerized environments, and performing DAST, SAST scans on code repositories.
                    </p>
                </div>
            </div>
            -->
            <div class="parent" data-aos="fade-up">
                <div class="div1">
                    <img class="main-img" src="./assets/img/qualys.png" alt="Qualys Inc.">
                </div>
                <div class="div2">
                    <a href="https://www.qualys.com/" target="_blank">
                        <h2 class="main-h2">Qualys Inc. 🏢</h2>
                    </a>
                    <h3 class="main-h3">Technical Account Manager - Inside Sales, 2025 - Present</h3>
                    <h4 class="main-h4">Pune, India</h4>
                    <p class="main-p">
                        Technical Account Manager at Qualys.
                    </p>
                </div>
            </div>
            <div class="parent" data-aos="fade-up">
                <div class="div1">
                    <img class="main-img" src="./assets/img/oscp.png" alt="Offensive Security Certified Professional">
                </div>
                <div class="div2">
                    <a href="https://www.credential.net/b8bc459f-4860-4c16-a00f-7a1eabbbd438" target="_blank">
                        <h2 class="main-h2">Offensive Security Certified Professional (OSCP) 🏅</h2>
                    </a>
                    <h3 class="main-h3"></h3>
                    <h4 class="main-h4"></h4>
                    <p class="main-p">
                        I earned my OSCP certification in October 2024! It was a challenging journey, learned the art of Exploitation, Pivoting, Active Directory Attacks, and a lot more! It was an amazing learning experience and felt extremely rewarding. You can view my credentials <a href="https://www.credential.net/b8bc459f-4860-4c16-a00f-7a1eabbbd438" target="_blank">here</a>.
                    </p>
                </div>
            </div>
            <div class="parent" data-aos="fade-up">
                <div class="div1">
                    <img class="main-img" src="./assets/img/citizens_bank.png" alt="Citizens Bank">
                </div>
                <div class="div2">
                    <a href="https://www.citizensbank.com/" target="_blank">
                        <h2 class="main-h2">Citizens Bank 🏦</h2>
                    </a>
                    <h3 class="main-h3">Senior Cyber Threat Defense Operations Specialist, 2023 - 2023 </h3>
                    <h4 class="main-h4">Providence, RI</h4>
                    <p class="main-p">
                        Worked as a Senior Threat Defense Specialist at Citizens Bank in 2023. Day-to-day responsibilities involved analysing, mitigating, and triaging security alerts. I was responsible for providing technical guidance to L1 security analysts. Used a wide variety of tools including <b>Crowdstrike, Splunk Enterprise Security, Qualys </b>to name a few.
                    </p>
                </div>
            </div>
            <div class="parent" data-aos="fade-up">
                <div class="div1">
                    <img class="main-img" src="./assets/img/NEU.png" alt="Northeastern University">
                </div>
                <div class="div2">
                    <a href="https://www.northeastern.edu/" target="_blank">
                        <h2 class="main-h2">Northeastern University 🎓</h2>
                    </a>
                    <h3 class="main-h3">Masters of Science in Cybersecurity, 2021 - 2022 </h3>
                    <h4 class="main-h4">Boston, MA</h4>
                    <p class="main-p">
                        Northeastern University has provided me with an incredible opportunity to pursue my passion for cybersecurity. The combination of its academic rigor and cultural values resonates deeply with me, allowing me to build a solid foundation in security principles. Through my studies in network security, software security, and risk management, I've gained a well-rounded understanding that positions me to make meaningful and impactful contributions to any organization.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about" class="section-class">
        <div class="container">
            <div class="div1-about" data-aos="fade-up">
                <h3 class="about-h3"><span id='whoami'>&nbsp;</span></h3>
                <p class="about-p">
                I’m Hemal — a security engineer focused on penetration testing and application security. As an OSCP-certified professional with additional certifications in Security+ and eJPT, I delve deep into penetration testing and offensive security. This site serves as a glimpse into my journey, where I’ll regularly share write-ups for Hack The Box, TryHackMe, and various VulnHub boxes, with the hope that you find them helpful in your own cybersecurity pursuits.

                When I’m not immersed in cybersecurity, you can find me geeking out on a Counter-Strike server with friends or exploring other games. Beyond tech, I enjoy listening to music, cooking, sketching, and traveling. I’m also on a mission to stay more active—it's a work in progress!
                </p>
            </div>
        </div>
    </section>

    <section id="projects" class="section-class">
        <div class="container">
            <div class="parent-projects"  data-aos="fade-up">
                <div class="div1-projects" data-aos="fade-up">
                    <h2 data-aos="fade-up">Projects</h2>
                    <ul>
                        <li><a href="https://github.com/hemal-maniar/Covert-Network-Channel" target="_blank">Covert Network Channel</a></li>
                        <li><a href="https://github.com/hemal-maniar/hemal-maniar.github.io" target="_blank">Personal Website</a></li>
                    </ul>
                </div>
                <div class="div2-projects" data-aos="fade-up" data-aos-delay="200">
                    <h2 data-aos="fade-up">From The Blog</h2>
                    <ul>
                    {% for post in site.posts limit:5 %}
                    <li data-aos="fade-up">
                        <a class="left left2" href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="links">
            <ul>
                <li>
                    <div class="grow"><a href="http://github.com/hemal-maniar" target="_blank"><i
                                class="fa fa-github"></i></a>
                    </div>
                </li>
                <li>
                    <div class="grow"><a href="https://twitter.com/he_malware" target="_blank"><i
                                class="fa fa-twitter"></i></a></div>
                </li>
                <!--
                <li>
                    <div class="grow"><a href="https://www.instagram.com/" target="_blank"><i
                                class="fa fa-instagram"></i></a></div>
                </li>
                <li>
                    <div class="grow"><a href="https://www.pinterest.com/" target="_blank"><i
                                class="fa fa-pinterest-p"></i></a></div>
                </li>
                -->
                <li>
                    <div class="grow"><a href="https://www.linkedin.com/in/hemal-maniar" target="_blank"><i
                                class="fa fa-linkedin"></i></a></div>
                </li>
                <li>
                    <div class="grow"><a href="./assets/HemalManiar_Resume.pdf" target="_blank"><i
                                class="fa fa-file-pdf-o"></i></a></div>
                </li>
                <li>
                    <div class="grow"><a href="mailto:maniar.he@gmail.com" target="_blank"><i
                                class="fa fa-envelope"></i></a>
                    </div>
                </li>
            </ul>
            <p id="date"></p>
        </div>
        
    </footer>

    {% include footer-files.html %}
</body>

</html>