<style>
    .container-img-include {
        position: relative;
        text-align: center;
        color: var(--featured-text);
    }

    .centered {
        display: block;
        margin-left: 20.6%;
        margin-right: 20.6%;
    }

    .centered h1 {
        font-size: 3em;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        color: var(--text-primary);
    }

    .category-p {
        color: var(--text-primary);
        display: inline-block;
        border: 1px solid var(--text-primary);
        border-radius: 5px;
        padding: 5px;
        margin-right: 5px;
    }

    .category-p:hover {
        background-color: var(--featured-text);
        border: 1px solid var(--featured-text);
        color: var(--bg-primary);
    }

    @media screen and (max-width: 769px) {
        .container-img-include {
            padding-top: 80px;
        }
        .centered {
            margin-left: 0;
            margin-right: 0;
            padding: 0 15px;
            margin-bottom: 20px;
        }
        .centered h1 {
            font-size: 2em;
        }
    }

    @media screen and (max-width: 426px) {
        .centered {
            margin-left: 0;
            margin-right: 0;
            padding: 0 15px;
            margin-bottom: 20px;
        }
        .centered h1 {
            font-size: 2.5em;
        }
    }

    @media screen and (max-width: 376px) {
        .centered h1 {
            font-size: 2em;
        }

        .centered {
            padding: 0 10px;
            margin-left: 0;
            margin-right: 0;
        }

        .category-p {
            display: inline-block;
            padding: 2px;
            margin-right: 2px;
        }
    }

    a.left {
        position: relative;
    }

    a.left:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--featured-text);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    a.left:hover:before {
        visibility: visible;
        width: 100%;
    }
</style>

<div class="centered">
    {% for category in include.categories%}
    <a href="/blog/categories/{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">
        <p class="category-p" style="margin-right: 10px; border-radius: 100px; padding: 5px 10px; border: 1px solid;">{{ category }}</p>
    </a>
    {% endfor %}
    <h1>{{ include.title }}</h1>
    <p>By <a class="left"
            href="{{ site.baseurl }}/blog/authors/{{ include.author }}"><strong>{{ include.author }}</strong></a> |
        {{ include.date | date: '%B %d, %Y' }}</p>
</div>
