<!-- <div class="share-page">
    If you enjoyed, please share this post on: &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
        rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>&emsp;
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"
        title="Share on Facebook">Facebook</a>&emsp;
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&summary={{ page.meta-description }}>&source={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank"
        title="Share on LinkedIn+">LinkedIn+</a>
</div> -->

<!-- <style>
    @media screen and (max-width: 980px) {
        .a2a_floating_style.a2a_vertical_style {
            display: none;
        }
    }
</style>

<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" data-a2a-scroll-show="500" style="left:0px; top:150px;">
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="a2a_button_facebook" rel="nofollow" target="_blank"
        title="Share on Facebook"></a>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
            rel="nofollow" class="a2a_button_twitter" target="_blank" title="Share on Twitter"></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&summary={{ page.meta-description }}>&source={{ site.url }}{{ post.url }}"
        rel="nofollow" class="a2a_button_linkedin" target="_blank" title="Share on LinkedIn+"></a>
</div>

<script async src="https://static.addtoany.com/menu/page.js"></script> -->