---
layout: blog-default
meta-description: 'These are all the blog posts written by Hemal Maniar for Hemal Maniar.'
meta-keywords: 'Hemal Maniar blogs'
---

<div class="container">
    <h2 style="color: #3f0;">All posts by Hemal Maniar</h2>
    <hr style="border: 1px solid white;">
    <div class="flex-container">
        {% for post in site.posts %}
        <div class="card" style="width: 22rem; margin: 10px 0;" data-aos="fade-up">
            <div class="card-img-top-container">
                <a href="{{ site.url }}{{ post.url }}"></a>
            </div>
            <div class="card-body">
                {% for category in post.categories %}
                <div class="category-container">
                    <a href="{{ site.baseurl }}/blog/start-here" class="card-post-categories left left2">
                        <p>{{ category }}</p>
                    </a>
                </div>
                {% endfor %}
                <a href="{{ site.url }}{{ post.url }}">
                    <h3 class="card-post-title">{{ post.title }}</h3>
                    <p class="card-post-description">{{ post.description }}...</p>
                </a>
                <small class="card-post-author-date">Written by <a class="left left2" style="color: #6d6d6d"
                        href="{{ site.baseurl }}/blog/authors/{{ post.author }}"><strong>{{ post.author }}</strong></a>
                    on
                    {{ post.date | date: '%B %d, %Y' }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>