<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css">
</head>
<style>
    table {
    background-color: transparent;
    border-collapse: collapse;
    color: var(--text-primary);
    line-height: 3em;
}
</style>
<body>
    {% include nav.html %}
    <div class="img-container">
        {% include post-featured-image.html alt=page.alt title=page.title categories=page.categories author=page.author date=page.date %}
    </div>
    <div class="blog-post-container">
        {{ content }}
    </div>
    {% include footer.html %}
    {% include footer-files.html %}
</body>
</html>